################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EC2ScheduleAgent/obj
/EC2ScheduleAgent.Tests/obj
/EC2ScheduleAgent/bin
/EC2ScheduleAgent.Tests/bin
